head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Hello #{name}!
  link(href='css/style.css', rel='stylesheet')
  link(rel='icon', href='data:;base64,=')
