doctype html
html
  head
    title = "Hello Pug"
    style
      include ../public/css/style.css
  body
    include header.pug
    main
      div.container
        h1.greetings#people Hello #{name}!
    include footer.pug
