html
  head
    title User
  body
    form(action = '/person', method = 'POST')
      div
        label(for = 'name') Name:
        input(name = 'name')
      br
      div
        label(for = 'email') Email:
        input(name = 'email')
      br
      button(type = 'submit') Create new user
